<div class="container">
  <div class="jumbotron mt-5 mb-5">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="mb-3">Let's Play!</h5>
        <app-progress [progress]="progress"></app-progress>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-end">
          <app-attempts [attempts] = "tries"></app-attempts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="mt-3 mb-3">{{ instruction }}</h6>
        <p>{{ roundPhrase.phraseEng }}</p>
        <div class="form-group">
          <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          (input)="refreshAnswer($event)" [value]='answer'></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)= "checkAnswer()">Verificar</button>
        </div>
      </div>
    </div>
  </div>
</div>

