<div class="container">
  <div class="jumbotron mt-5">
    <div class="row">
      <div class="col-sm-6">
        <app-progress></app-progress>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-end">
          <app-attempts></app-attempts>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="mt-3 mb-3">{{ instruction }}</h6>
        <p>{{ phrases[2].phraseEng }}</p>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          (input)="refreshAnswer($event)"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary">Verificar</button>
        </div>
      </div>
    </div>
  </div>
</div>
